jax[cuda12]==0.10.1
jaxlib==0.10.1
dm-haiku==0.0.16
chex==0.1.91
jraph==0.0.6.dev0
xarray==2024.11.0
pandas==2.2.3
netCDF4==1.7.4
scipy
numpy
fastapi
uvicorn[standard]
google-cloud-storage
trimesh
rtree
dask
matplotlib
dinosaur-dycore
